#footer {
    position: relative;
    padding-top: 100px;
}
.footer-block {
    margin: 0 auto;
    width: 1440px;
    height: 245px;
    background: #C8DFF6;
    border-radius: 70px 70px 0px 0px;
}
.footer-block__wrapper {
    padding-top: 51px;
    margin: 0px 225px 44px 150px;
    display: flex;
}
.footer-block__column--first {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-block__column--first img {
    height: 66px;
    width: 66px;
}
.footer-block__column--first h2 {
    margin-top: 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 125.5%;
    color: #181818;
}
.footer-block__column--first p {
    width: 170px;
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #181818;
}
.footer-info {
    margin-left: 191px;
    display: flex;
}
.footer-block__column--title h3 {
    width: 210px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 125.5%;
    text-align: center;
    color: #323C92;
    padding-bottom: 35px;
}
.footer-block__column--text p {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125.5%;
    text-decoration-line: underline;
    color: #181818;
}
.footer-block__column--third {
    margin-left: 60px;
}
.footer-block__column--title--third h3 {
    position: relative;
    left: -42px;
    width: 210px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 125.5%;
    text-align: center;
    color: #323C92;
    padding-bottom: 35px;
}
.footer-block__column--fourth {
    margin-left: 60px;
}
.footer-block__column--title--fourth h3 {
    position: relative;
    left: -112px;
    width: 210px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 125.5%;
    text-align: center;
    color: #323C92;
    padding-bottom: 35px;
}
.footer-block__column--text--fourth h2 {
    position: relative;
    width: 220px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125.5%;
    text-decoration-line: underline;
    color: #181818;
}
.footer-block__column--text--fourth h2::before {
    position: absolute;
    content: url(../src/img/footer/101.svg);
    left: -30px;
}