.screen4 {
    position: relative;
    display: flex;
    flex-direction: column;
}
.screen4__title span {
    margin: 0 auto;
    width: 1318px;
    border: 1px solid #323C92;
    margin-bottom: 100px;
}
.screen4__title {
    position: relative;
    padding-top: 100px;
}
.screen4__title h4 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #323C92;
}
.screen4__body {
    padding-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
}
.screen4__body__border--first span {
    width: 170px;
    height: 718px;
    background: #C8DFF7;
    border-radius: 40px 0px 0px 40px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.screen4__body__border--second span {
    margin-left: 80px;
    width: 25px;
    height: 718px;
    background: #C8DFF7;
    border-radius: 19.5px 0px 0px 19.5px;
}
.screen4__body__components {
    position: relative;
    margin: 0px 134px;
    width: 1000px;
    height: 512px;
    display: flex;
    align-items: center;
}
.screen4__body__components--vector img{
    position: relative;
    top: -125px;
    height: 56px;
    width: 76px;    
}
.screen4__body__components--info {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 35px;
}
.components--info__title {
    position: relative;
    z-index: 1;
    width: 683px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 66.5px;
}
.components--info__title h2 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}
.components--info__text {
    position: relative;
    z-index: 2;
    margin-top: 45px;
    border: 4px solid #C8DFF6;
    width: 552px;
    height: 212px;
    border-radius: 28px 40px 110px 28px;
}
.components--info__text p {
    margin-left: 35px;
    width: 483px;
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
    line-height: 125.5%;
    color: #181818;
}
.screen4__body__components--img {
    position: relative;
    left: -210px;
    top: -280px;
}
.screen4__body__components--img img {
    position: absolute;
    width: 494.23px;
    height: 512.4px;
}
.screen4__body__border--third span {
    margin-left: 420px;
    width: 25px;
    height: 718px;
    background: #C8DFF7;
    border-radius: 19.5px 0px 0px 19.5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.screen4__body__border--fourth span {
    margin-left: 80px;
    width: 170px;
    height: 718px;
    background: #C8DFF7;
    border-radius: 40px 0px 0px 40px;
}